/* These are called CSS custom properties, or CSS variables. */
:root {
    --color-1: #00CDE1;
    --color-2: #eb6b9e;
    --color-3: #307267;
    --color-4: #ff902d;
    --color-5: #11d3c3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.learn {
    min-height: 3000px;
}

.set {
    margin-bottom: 4rem;
    border: 1px solid rgba(54, 65, 69, 0.3);
    border-radius: 4px;
    padding: 2rem;
    
}

.set h1 {
    margin-bottom: 2rem;
    margin-top: 0;
}

.set ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.set ul li {
    width: 8rem;
    height: 8rem;
    text-align: center;
    background-color: #617778;
    color: #fff;
    line-height: 8rem;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
}

.static {
    border-left: 4px solid var(--color-1);
}

.static .highlight {
    background-color: var(--color-1);
    position: static;
    top: 0px;
    left: 200px;
}

.relative {
    border-left: 4px solid var(--color-2);
}

.relative .highlight {
    background-color: var(--color-2);
    position: relative;
    top: 0px;
    right: 244px;
}

.absolute {
    border-left: 4px solid var(--color-3);
}

.absolute .highlight {
    background-color: var(--color-3);
    position: absolute;
    bottom: 5px;
    /* top: 0px; */
}

.fixed {
    border-left: 4px solid var(--color-4);
}

.fixed .highlight {
    background-color: var(--color-4);
    /* position: fixed; */
    top: 4rem;
}

.sticky {
    height: 800px;
    border-left: 4px solid var(--color-5);
}

.sticky ul {
    position: sticky;
    top: 1rem;
}

.sticky ul li {
    background-color: var(--color-5);
}