* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e1e6fb;
    /* height: 90vh; */
}

header {
    height: 18rem;
    display: grid;
    grid-template-columns: 70% auto;
    place-items: start;

    padding: 1.5rem 0;
    margin: 2rem 1rem;
}

header h1 {
    padding: 1rem;
    margin: 1rem 1rem;

    font-family: 'Noto Serif Vithkuqi', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

header div.empty div.placeholder {
    background-color: rgba(135, 153, 255, 1);

    width: 15rem;
    height: 15rem;
    border-radius: 1rem;

    margin-top: 2.5rem;
    margin-left: 3rem;

    box-shadow: -3rem -3rem rgba(135, 153, 255, 0.608), 3rem 3rem rgba(135, 153, 255, 0.608);
}

.container {
    height: 10rem;
    display: grid;
    place-items: center;
}

div.container button {
    background-color: rgba(135, 153, 255, 0.608);
    padding: 1rem;
    border: none;
    border-radius: 1rem;

    font-size: 18px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;

    background: linear-gradient(90deg, #333 50%, transparent 0) repeat-x, linear-gradient(90deg, #333 50%, transparent 0) repeat-x, linear-gradient(0deg, #333 50%, transparent 0) repeat-y, linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: .5rem .1rem, .5rem .1rem, .1rem .5rem, .1rem .5rem;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
}

div.container button:hover {
    background-color: rgba(135, 153, 255, 1);
    animation: linearGradientMove 0s infinite linear;
}

@keyframes linearGradientMove {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

div.links {
    padding-left: 2rem;
    display: flex;
    gap: 2rem;
}

div.links a {
    font-size: 3rem;
    text-decoration: none;
    text-transform: capitalize;
}

div.links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    section#hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        margin: 1rem .5rem;
        padding: .4rem 0 5rem 0;
    }

    header {
        display: block;

        padding: 1rem 0;
        margin: 1rem 1rem;
    }

    header h1 {
        font-size: 4rem;

        padding: 1rem;
        margin: 1rem .5rem;
    }

    div.container {
        display: flex;
        justify-content: center;
        place-items: center;

        margin-top: 2rem;
        margin-right: 2.5rem;

        width: 2rem;
    }

    header .empty {
        display: none;
    }

    div.links a {
        margin: 1rem 0;
        font-size: 2rem;
    }
}